<h1>Games!</h1>
<h2><%= @letters.join(' ') %></h2>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="letters" value="<%= @letters.join('') %>">
  <input type="text" name="try">
  <input type="submit" value="Do it!">
</form>
